In [1]:
import pandas as pd
import os
import json

## 1. AFND Dataset

In [5]:
dataset_path = 'datasets/text datasets/AFND/Dataset'
sources_file = 'datasets/text datasets/AFND/sources.json'

# Load sources credibility info
with open(sources_file, 'r') as f:
    sources_info = json.load(f)

print(sources_info['source_1'], sources_info['source_2'])

credible undecided

In [6]:
# loading individual source file
source_path = os.path.join(dataset_path, 'source_1', 'scraped_articles.json')
with open(source_path, 'r') as f:
    data = json.load(f)
    articles = data.get('articles', [])

print('title', articles[0]['title'])
print('text', articles[0]['text'])

title المنتخب الوطني المغربي لأقل من 20 سنة يخوض تجمعا اعداديا بالمعمورة
text يخوض المنتخب الوطني المغربي لكرة القدم لأقل من 20 سنة، ما بين 24 و28 ماي الجاري تجمعا إعداديا مغلقا بمركب محمد السادس لكرة القدم بالمعمورة.

وذكر بلاغ للجامعة الملكية المغربية لكرة القدم، أن هذا التجمع الاعدادي يدخل في إطار استعدادات النخبة الوطنية للمشاركة في البطولة العربية التي ستحتضنها مصر في الفترة المتراوحة ما بين 19 يونيو و3 يوليوز 2021.

ولهذا الغرض، وجه السيد فتحي جمال، المشرف العام على المنتخب الوطني الدعوة إلى 24 لاعبا ويتعلق الأمر بكل من :

1- عبد الله بنتيك ......... أكاديمية محمد السادس

2- اسماعيل لغزالي ..... أكاديمية محمد السادس

3- أنس نناح ............... أكاديمية محمد السادس

4- محمد أمين السهل .. أكاديمية محمد السادس

5- حسن أكبوب ........... أكاديمية محمد السادس

6- عمر صادق .............. أكاديمية محمد السادس

7- عثمان شرايبي ........ أكاديمية محمد السادس

8- محمد راديد ............. أكاديمية محمد السادس

9- بدر أوهامي ............. النسمة السطاتية

10- عبد اللطيف المتطوع .... شباب الصخور السوداء

11- حسام بولاينين ........... الجيش الملكي

12- نوفل طاهيري ............ الجيش الملكي

13- أشرف لعزيري ........... الفتح الرياضي

14- مختار فريطس ........... الفتح الرياضي

15- المهدي موهوب ........ الفتح الرياضي

16- محمد كاسو ............. أولمبيك خريبكة

17- أنس عزيز ................ أولمبيك الدشيرة

18- حاتم السواح ............ الرجاء الرياضي

19- عبد الله أزرور............. الرجاء الرياضي

20- حمزة ولد الحاج ........ نهضة بركان

21- محمد مجاهيد .......... نهضة بركان

22- حمزة بارودي ........... نهضة بركان

23- ريان سيدي أحمد ..... اتحاد تواركة

24- نسيم زيبوك ............وداد فاس

### 2. All-Data Dataset

In [4]:
all_data = pd.read_csv('datasets/text+image/text+image/all_data.csv')

In [14]:
all_data.head()

,Unnamed: 0.1,Unnamed: 0,author,comments,country,crawled,domain_rank,id,language,likes,...,fear,joy,sadness,surprise,trust,negative,positive,first_all,second_all,third_all
0,1,NaN,JEREMY W. PETERS,0.0,US,2017-03-14 08:25:04,0,3.0,english,0.0,...,6,20,5,14,30,14,52,409,150,45
1,2,NaN,STEVE EDER,0.0,US,2017-03-14 08:25:36,0,4.0,english,0.0,...,4,4,4,5,9,8,15,145,38,28
2,3,NaN,MAGGIE HABERMAN ASHLEY PARKER,0.0,US,2017-03-14 08:25:36,0,5.0,english,0.0,...,8,15,8,6,26,15,34,440,168,68
3,4,NaN,NELSON D. SCHWARTZ SUI-LEE WEE,0.0,US,2017-03-14 08:25:36,0,6.0,english,0.0,...,10,10,10,6,32,24,43,592,136,71
4,5,NaN,MAGGIE HABERMAN,0.0,US,2017-03-14 08:25:37,0,7.0,english,0.0,...,3,6,2,4,14,4,25,223,82,28

In [9]:
all_data['type'].unique()

array(['real', 'fake'], dtype=object)

## 3- ANS-Arabic-Satirical-News

In [3]:
ans_arabic_train = pd.read_csv('datasets/text datasets/ANS-Arabic-Satirical-News/ans-master/data/claim/train.csv')
ans_arabic_train.head()

                                             claim_s  fake_flag
0                 تراجع التضخم النصف سنوي في الجزائر          1
1                       صكوك من الكويت بملياري دولار          1
2  الحرب في سوريا: قافلة الإغاثة المرتقبة لن تتمك...          0
3  الأساطير المحيطة بالممثلين المجوس في مصر تتحطم...          1
4  مصر: مجلس النواب يقر حصانة قضائية لضباط كبار ب...          0

## 4- Arabic-Satirical-News

In [5]:
folder_path = 'datasets/text datasets/Arabic-Satirical-News/Arabic-Satirical-Fake-News-Dataset-master/fake_news'

# Initialize lists to store data
news_texts = []
labels = []

# Iterate through all text files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith('.txt'):
        file_path = os.path.join(folder_path, filename)
        with open(file_path, 'r', encoding='utf-8') as file:
            content = file.read().strip()
            news_texts.append(content)
            labels.append('fake')

# Create a DataFrame
df = pd.DataFrame({
    'text': news_texts,
    'label': labels
})

print(len(df))

3185

## 5- Ax-to-Grind-Urdu

In [8]:
ax_to_grind = pd.read_csv('datasets/text datasets/Ax-to-Grind-Urdu/Ax-to-Grind-Urdu-Dataset-main/Combined .csv', index_col='Sr. No.')
ax_to_grind.head()

                                                News Items Label
Sr. No.
1        ٹی ٹی پی نے پنجاب حکومت کے ہیلی کاپٹر کے عملے ...  FAKE
2                مارک زکربرگ سیاست میں آنے کا سوچ رہے ہیں۔  FAKE
3           فریدہ جلال نے اپنی موت کی افواہوں پر تنقید کی۔  FAKE
4        جعلی خبریں: پاپ اسٹار حدیقہ کیانی نے جعلی منشی...  FAKE
5        صنم ماروی نے میڈیا پر گردش کرنے والی زیادتی او...  FAKE

In [10]:
ax_to_grind.Label.value_counts()

Label
FAKE     5039
TRUE     4997
TRUE       33
FAKE       14
Label       1
Name: count, dtype: int64

## 6- BAAI_biendata2019

In [11]:
baai = pd.read_csv('datasets/text datasets/BAAI_biendata2019 (10).csv')

In [12]:
baai.head()

,id,text,label
0,09766d6ec92a9eff7f8763f9f9fee14f,＂李的76人律师团领队、法律大学副校长张爱国教授对媒体表示，李天一因第一个与被害女子发生性关...,1
1,1cdf439752d339b45fc848984c609899,【男子捏造“周浦滴滴司机砍死乘客”谣言被刑拘称只是觉得好玩】,0
2,d3aa07cc41ab42fa5c8718bd655abb1c,【善良的大桥】金沙江大桥在没车行走的时候自我坍塌，这桥通人性，未伤一车一人，太善良了。应该当...,1
3,e940e98292b76024dfbcbcff378c9d2f,幼儿园都发通知了，家长们注意啦：现在得白血病的小孩越来越多，妇幼保健院提示您，请不要给宝宝喝...,1
4,21b667ed6784407bf5562a400c72bb3f,上海4000吨垃圾偷倒苏州太湖西山岛(图)（分享自@新浪新闻）,0

In [13]:
baai.label.value_counts()

label
1    19285
0    19186
Name: count, dtype: int64

## 7- BadBot

In [14]:
badbot = pd.read_csv('datasets/text datasets/badbot.csv')

In [15]:
badbot.head()

,ID,URLs,Headline,Body,Label,Category
0,0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1,C
1,1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1,E
2,2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1,D
3,3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1,A
4,4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1,C

In [16]:
badbot.Label.value_counts()

Label
0    2118
1    1866
Name: count, dtype: int64

## 8- BanFakeNews-2.0

In [20]:
ban_fake_news = pd.read_csv('datasets/text datasets/BanFakeNews-2.0.csv', index_col='Unnamed: 0')

In [21]:
ban_fake_news.head()

,Headline,Content,Label
0,"হট্টগোল করায় বাকৃবিতে দুইজন বরখাস্ত, ৬ জনকে শোকজ",গত ১৭ সেপ্টেম্বর বাংলাদেশ কৃষি বিশ্ববিদ্যালয়ে ...,1
1,মালয়েশিয়ায় কর্মী পাঠানোর ব্যবস্থা নেয়ার সুপারিশ,বাংলাদেশের বৃহৎ শ্রমবাজার মালয়েশিয়ায় আবার শ্রম...,1
2,প্রেমের প্রস্তাবে রাজি না হওয়ায় স্কুলছাত্রীকে ...,নরসিংদীর মনোহরদীতে প্রেমের প্রস্তাবে রাজি না হ...,1
3,মেডিয়েশনই মামলাজট নিরসনের পথ : বিচারপতি আহমেদ ...,সুপ্রিম কোর্টের হাইকোর্ট বিভাগের বিচারপতি আহমে...,1
4,টকশোতে বক্তব্য দিতে গিয়ে জাপা নেতার মৃত্যু,মাদারীপুর সদরের উপজেলার লেকেরপাড়ে একটি বেসরকার...,1

In [19]:
ban_fake_news.Label.value_counts()

Label
1    48678
0    12903
Name: count, dtype: int64

## 9 - Bend the Truth

In [25]:
def load_data_from_folder(root_folder):
    data = []

    # Walk through train and test folders
    for split in ['Train', 'Test']:
        for label in ['Fake', 'Real']:
            folder_path = os.path.join(root_folder, split, label)
            for filename in os.listdir(folder_path):
                if filename.endswith('.txt'):
                    file_path = os.path.join(folder_path, filename)
                    with open(file_path, 'r', encoding='utf-8') as file:
                        content = file.read().strip()
                        data.append({
                            'text': content,
                            'label': label.lower(),  # 'fake' or 'real'
                        })

    return pd.DataFrame(data)

# Replace with the path to your root directory
folder_path = 'datasets/text datasets/BET-Bend-the-Truth/1.Corpus'
df = load_data_from_folder(folder_path)
df.head()

                                                text label
0  کراچی فارورڈیواےجی جرمنی کے صف اول کا وہ ادارہ...  fake
1  ﻿ڈیسک: سام سنگ کی جانب سے اپريل کے شروع میں ني...  fake
2  کراچی (اُردو پوائنٹ اخبارتازہ ترین 05 دسمبر201...  fake
3  نیویارک (مانیٹرنگ ڈیسک) امریکہ میں ہونے والی ا...  fake
4  جکارتہ 23 اگست (سیاست ڈاٹ کام) پاکستان ہاکی ٹی...  fake

In [27]:
df.label.value_counts()

label
real    500
fake    400
Name: count, dtype: int64

## 10- BuzzFeed-2017

In [30]:
import pandas as pd
import os
import xml.etree.ElementTree as ET

# Paths
csv_path = 'datasets/text datasets/BuzzFeed-2017/overview.csv'         # <- Change this
articles_folder = 'datasets/text datasets/BuzzFeed-2017/articles'    # <- Change this

# Load CSV
df_csv = pd.read_csv(csv_path)

# To store the final data
data = []

for _, row in df_csv.iterrows():
    xml_filename = row['XML']
    veracity = row['veracity']
    xml_path = os.path.join(articles_folder, xml_filename)

    try:
        tree = ET.parse(xml_path)
        root = tree.getroot()

        title = root.findtext('title', default='').strip()
        maintext = root.findtext('mainText', default='').strip()

        data.append({
            'title': title,
            'maintext': maintext,
            'veracity': veracity
        })

    except Exception as e:
        print(f"Error parsing {xml_filename}: {e}")

# Create DataFrame
df = pd.DataFrame(data)
df.head()

,title,maintext,veracity
0,The Impact of Debates? It's Debatable,With the Hillary Clinton-Donald Trump debates ...,mostly true
1,Details Emerge About NYC Bomb Suspect Ahmad Kh...,As police today captured the man wanted for qu...,mostly true
2,Donald Trump Repeats Calls for Police Profilin...,One day after explosive devices were discovere...,mostly true
3,"NY, NJ Bombings Suspect Charged With Attempted...","Ahmad Khan Rahami, earlier named a person of i...",mostly true
4,Trump Surrogates Push Narrative That Clinton S...,Donald Trump's surrogates and leading supporte...,mostly true

In [31]:
len(df)

1627

In [32]:
df.veracity.value_counts()

veracity
mostly true                  1264
mixture of true and false     212
mostly false                   87
no factual content             64
Name: count, dtype: int64

## 11- BuzzFeed-Political-News

In [15]:
import os
import pandas as pd

def read_text_file(filepath):
    try:
        with open(filepath, 'r', encoding='windows-1252') as file:
            return file.read().strip()
    except Exception as e:
        return f"An error occurred: {e}"

def build_dataset(base_folder):
    data = []

    for label in ['Fake', 'Real']:
        body_folder = os.path.join(base_folder, label)
        title_folder = os.path.join(base_folder, f"{label}_titles")

        for filename in os.listdir(body_folder):
            if filename.endswith('.txt'):
                file_number = filename.split('_')[0].replace('.txt', '')
                body_path = os.path.join(body_folder, filename)
                title_path = os.path.join(title_folder, f"{file_number}_{label}.txt")

                body = read_text_file(body_path)
                title = read_text_file(title_path)

                data.append({
                    'title': title,
                    'body': body,
                    'label': label
                })

    return pd.DataFrame(data)

# Usage
dataset_folder = 'datasets/text datasets/Buzzfeed Political News Dataset'  # <- change this
df = build_dataset(dataset_folder)
print(df.head())

# Optional: save to CSV
# df.to_csv("news_dataset.csv", index=False)

                                               title  \
0  Longtime mistress says Bill Clinton had 2000 s...
1  An error occurred: 'charmap' codec can't decod...
2  IT'S OVER Hillary's ISIS Email Just Leaked & I...
3  BREAKING Another Clinton Associate Set To Test...
4  Robertson Said He Had Vision of Trump Seated A...

                                                body label
0  Another long-time “lover” of Bill Clinton has ...  Fake
1  PHOENIX A.Z. (AP) — For months now, rumors hav...  Fake
2  Today Wikileaks released what is, by far, the ...  Fake
3  Americans have trouble trusting the Clintons f...  Fake
4  By Michael Hoult\nSome Evangelical Christians ...  Fake

In [17]:
len(df)

101

In [18]:
df.label.value_counts()

label
Real    53
Fake    48
Name: count, dtype: int64

## Skipped Datasets
12- CED is skipped as it is for social media

## 13- CHECKED-COVID19

In [2]:
checked_covid = pd.read_csv('datasets/text datasets/CHECKED-COVID19.csv')

In [3]:
checked_covid.head()

   Unnamed: 0                                            content  label
0           0  【转存！#施一公说诚实做学问是绝不容突破的底线#】今天，在西湖大学博士研究生开学典礼上，校长...      0
1           1  【#区长回应网传北京西城区政府停摆#：目前运转一切正常】2月18日，在北京市新型冠状病毒肺炎...      0
2           2  【最新：#全球新冠肺炎感染人数超244万例#】截至北京时间4月21日16时，211个国家和地...      0
3           3  这是发生在重症隔离病房里，一个小朋友对医生说的话我不想让妈妈哭😭 不是晚一点，是你不会si的...      1
4           4  【今天，发条微博，迎接#五月#】5月，向每一位奋斗中的劳动者致敬；5月，为奋斗中的青年点赞；...      0

In [7]:
checked_covid.label.value_counts()

label
0    1955
1     883
Name: count, dtype: int64

## 14- CHEF

In [8]:
import json
import pandas as pd

# Load JSON data from file
with open('datasets/text datasets/CHEF/CHEF/train.json', 'r', encoding='utf-8') as f:
    data = json.load(f)

# Convert to DataFrame with selected fields
df = pd.DataFrame(data)[['title', 'label']]

# Preview the DataFrame
print(df.head())

                                 title  label
0  中使馆驳斥涉疆谣言：新疆棉花生产已实现高度机械化，哪里还需要强迫劳动？      0
1                     关于失业保险金，你可能有太多误区      0
2              退休职工养老金能否按时足额发放？人社部回应了！      0
3                污水处理能力限制城市发展？ 补齐设施短板！      0
4                      这场发布会回应“舌尖上”的问题      0

In [11]:
df.label.value_counts()  # 15 is social so skipped

label
1    4349
0    2877
2     776
Name: count, dtype: int64

## 16- COVID-19 Fake News Detection

In [15]:
covid_19_FND = pd.read_excel('datasets/text datasets/COVID-19 Fake News Dataset/COVID-19 Fake News Dataset/fake_new_dataset.xlsx', index_col='Unnamed: 0')

In [16]:
covid_19_FND.head()

,title,text,subcategory,label
0,FACEBOOK DELETES MICHIGAN ANTI-LOCKDOWN GROUP ...,Facebook has shuttered a popular group for Mic...,false news,0
1,Other Viewpoints: COVID-19 is worse than the flu,We can now officially put to rest all comparis...,true,1
2,Bermuda's COVID-19 cases surpass 100,The Ministry of Health in Bermuda has confirme...,true,1
3,Purdue University says students face 'close to...,"Purdue University President Mitch Daniels, the...",partially false,0
4,THE HIGH COST OF LOCKING DOWN AMERICA: “WE’VE ...,Locking down much of the country may have help...,false news,0

In [17]:
covid_19_FND.label.value_counts()

label
1    2061
0    1058
Name: count, dtype: int64

## 17- COVID19-FN

In [20]:
covid19_fn = pd.read_csv('datasets/text datasets/COVID19FN/COVID19FN/COVID19FN.csv', index_col='Unnamed: 0')

In [21]:
covid19_fn.head()

,Title,Text,country,Label,URL,len_sentences,source,text,date,avg_word_len
0,A video shows a fortune teller predicting the...,Circulating on social networks a video that sh...,Portugal,False,https://observador.pt/factchecks/fact-check-um...,83,https://observador.pt,circulating on social networks video that show...,08-04-2020,4.795181
1,Internet sensation and the worldâ€™s cutest ba...,Internet sensation and the world’s cutest baby...,India,False,https://www.newschecker.in/article/news-detail...,516,https://www.newschecker.in,internet sensation and the world cutest baby a...,17-04-2020,4.858527
2,A video has been viewed hundreds of thousands ...,A video has been viewed hundreds of thousands ...,Indonesia,False,https://factcheck.afp.com/video-shows-us-presi...,570,https://factcheck.afp.com,a video has been viewed hundreds of thousands ...,09-04-2020,5.010526
3,"Treasury is depositing Kshs 45, 000 to the mob...",A Facebook post claiming that the National Tre...,Kenya,False,https://pesacheck.org/false-treasury-is-not-se...,551,https://pesacheck.org,a facebook post claiming that the national tre...,11-04-2020,5.377495
4,Hunagrian authorities are capturing men 50 or ...,Moves on Facebook and Twitter a video showing ...,Mexico,False,https://www.animalpolitico.com/elsabueso/hungr...,368,https://www.animalpolitico.com,moves on facebook and twitter video showing po...,11-04-2020,5.032609

In [22]:
covid19_fn.Label.value_counts()

Label
False    1591
True     1230
Name: count, dtype: int64

# 18 - COVID19-Rumor

In [23]:
covid19_rumor = pd.read_csv('datasets/text datasets/COVID19-Rumor-Data/en_dup.csv')

In [25]:
covid19_rumor.head()

  label                                            content source author time
0     F  Coronavirus was created in a government lab as...    NaN    NaN  NaN
1     F  The lie that coronavirus came from a bat or a ...    NaN    NaN  NaN
2     F  The health experts had predicted the virus cou...    NaN    NaN  NaN
3     F  A video clip supposedly showed that the expone...    NaN    NaN  NaN
4     T  Almost 200 people in Italy died from the coron...    NaN    NaN  NaN

In [27]:
covid19_rumor.label.value_counts()

label
F    3681
T    1878
U    1620
Name: count, dtype: int64

In [69]:
# skipping 19

## 20 - CT-FAN-22

In [28]:
ct_fan = pd.read_csv('datasets/text datasets/CT-FAN-22/FakeNews_Task3_2022/FakeNews_Task3_2022/Task3_train_dev/Task3_english_training.csv')

In [29]:
ct_fan.head()

,public_id,text,title,our rating
0,5a228e0e,Distracted driving causes more deaths in Canad...,"You Can Be Fined $1,500 If Your Passenger Is U...",FALSE
1,30c605a1,Missouri politicians have made statements afte...,Missouri lawmakers condemn Las Vegas shooting,partially false
2,c3dea290,Home Alone 2: Lost in New York is full of viol...,CBC Cuts Donald Trump's 'Home Alone 2' Cameo O...,partially false
3,f14e8eb6,But things took a turn for the worse when riot...,Obama’s Daughters Caught on Camera Burning US ...,FALSE
4,faf024d6,It’s no secret that Epstein and Schiff share a...,Leaked Visitor Logs Reveal Schiff’s 78 Visits ...,FALSE

In [30]:
ct_fan['our rating'].value_counts()

our rating
FALSE              465
partially false    217
TRUE               142
other               76
Name: count, dtype: int64

## 21- English-News

In [35]:
eng_news = pd.read_csv('datasets/text datasets/English-News/fake_or_real_news.csv', index_col = 'Unnamed: 0')

In [36]:
eng_news.head()

,title,text,label
8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [38]:
eng_news.label.value_counts()

label
REAL    3171
FAKE    3164
Name: count, dtype: int64

## 22- Fake.br-Corpus(FNC0, FNC1, FNC2)

In [41]:
fake_br = pd.read_csv('datasets/text+image/text+image/fake.br.corpus.csv', index_col = 'index')

In [42]:
fake_br.head()

      label                                  preprocessed_news
index
0      fake  katia abreu diz vai colocar expulsao moldura n...
1      fake  ray peita bolsonaro conservador fake entrevist...
2      fake  reinaldo azevedo desmascarado policia federal ...
3      fake  relatorio assustador bndes mostra dinheiro pub...
4      fake  radialista americano fala sobre pt vendem ilus...

In [44]:
fake_br.label.value_counts() # skipped 23

label
fake    3600
true    3600
Name: count, dtype: int64

## 24- FakeNewsCorpus-Spanish

In [47]:
fnc_spanish = pd.read_excel('datasets/text datasets/FakeNewsCorpus-Spanish/FakeNewsCorpusSpanish-master/train.xlsx', index_col='Id')

In [48]:
fnc_spanish.head()

,Category,Topic,Source,Headline,Text,Link
Id,,,,,,
1,Fake,Education,El Ruinaversal,"RAE INCLUIRÁ LA PALABRA ""LADY"" EN EL DICCIONAR...","RAE INCLUIRÁ LA PALABRA ""LADY"" EN EL DICCIONAR...",http://www.elruinaversal.com/2017/06/10/rae-in...
2,Fake,Education,Hay noticia,"La palabra ""haiga"", aceptada por la RAE","La palabra ""haiga"", aceptada por la RAE La Rea...",https://haynoticia.es/la-palabra-haiga-aceptad...
3,Fake,Education,El Ruinaversal,YORDI ROSADO ESCRIBIRÁ Y DISEÑARÁ LOS NUEVOS L...,YORDI ROSADO ESCRIBIRÁ Y DISEÑARÁ LOS NUEVOS L...,http://www.elruinaversal.com/2018/05/06/yordi-...
4,True,Education,EL UNIVERSAL,UNAM capacitará a maestros para aprobar prueba...,UNAM capacitará a maestros para aprobar prueba...,http://www.eluniversal.com.mx/articulo/nacion/...
5,Fake,Education,Lamula,pretenden aprobar libros escolares con conteni...,Alerta: pretenden aprobar libros escolares con...,https://redaccion.lamula.pe/2018/06/19/memoria...

In [49]:
fnc_spanish.Category.value_counts()

Category
Fake    338
True    338
Name: count, dtype: int64

## 25- FakeNewsNet

In [66]:
import os
import json
import pandas as pd

# Define the root directory containing the four folders
root_dir = 'datasets/text+image/text+image/Fakenewsnet/FakeNewsNet_Dataset'  # Replace this with the actual path

# This will hold our extracted data
records = []

# Loop over each label folder
for folder_name in os.listdir(root_dir):
    folder_path = os.path.join(root_dir, folder_name)
    
    # Skip if not a directory
    if not os.path.isdir(folder_path):
        continue

    # Label is the part after the last underscore
    label = folder_name.split('_')[-1]

    # Traverse each subfolder containing the news_article.json
    for subfolder in os.listdir(folder_path):
        subfolder_path = os.path.join(folder_path, subfolder)
        if not os.path.isdir(subfolder_path):
            continue

        json_file_path = os.path.join(subfolder_path, 'news_article.json')

        # Check if the file exists
        if os.path.exists(json_file_path):
            try:
                with open(json_file_path, 'r', encoding='utf-8') as f:
                    data = json.load(f)

                # Append only if title and text exist
                if 'title' in data and 'text' in data:
                    records.append({
                        'title': data['title'],
                        'text': data['text'],
                        'label': label
                    })
            except Exception as e:
                print(f"Error reading {json_file_path}: {e}")

# Create DataFrame
df = pd.DataFrame(records)

# Show sample
print(df.head())

                                               title  \
0  See the Cast of Sex and the City's Transformat...
1  Snooki Pays Tribute to 5-Year-Old Birthday Boy...
2  Mayim Bialik Responds to Backlash Over Op-Ed A...
3                                       Kylie Jenner
4                                        Olivia Munn

                                                text label
0  At one point or another, didn’t we all want to...  real
1  Nicole ‘Snooki’ Polizzi‘s son Lorenzo Dominic ...  real
2  Emily Ratajkowski, Gabrielle Union and Patrici...  real
3  Kylie Kristen Jenner (born August 10, 1997)[4]...  real
4  LOS ANGELES (AP) — “The Predator” is at the to...  real

In [67]:
len(df)

22699

In [68]:
df.label.value_counts()

label
real    17251
fake     5448
Name: count, dtype: int64

## 26- Fake news Urdu

In [52]:
fn_urdu = pd.read_excel('datasets/text datasets/Fake-News-Urdu/news.xlsx', index_col='Unnamed: 0')

In [53]:
fn_urdu.head()

                                                news label
0  ; "تفصیلات کے مطابق بحریہ ٹاؤن کی جانب سے بتی...  real
1  ; "قصور میں مرد اور خاتون کی پھندا لگی لاشیں ب...  real
2  ; ; "تفصیلات کے مطابق داروغہ والا میں دیرینہ د...  real
3  ; "سیشن جج لاہور نے مجرم محمد اشرف کے بلیک ورا...  real
4  ; "آج ملزمہ انیقہ نے عدالت میں بیان بدل دیا، ...  real

In [54]:
fn_urdu.label.value_counts()

label
fake     2455
real     1642
Name: count, dtype: int64

## 27- FA-KES

In [57]:
fakes = pd.read_csv('datasets/text datasets/FA-KES-Dataset.csv' , encoding='unicode_escape')

In [58]:
fakes.head()

,unit_id,article_title,article_content,source,date,location,labels,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,1914947530,Syria attack symptoms consistent with nerve ag...,Wed 05 Apr 2017 Syria attack symptoms consiste...,nna,4/5/2017,idlib,0,NaN,NaN,NaN,NaN
1,1914947532,Homs governor says U.S. attack caused deaths b...,Fri 07 Apr 2017 at 0914 Homs governor says U.S...,nna,4/7/2017,homs,0,NaN,NaN,NaN,NaN
2,1914947533,Death toll from Aleppo bomb attack at least 112,Sun 16 Apr 2017 Death toll from Aleppo bomb at...,nna,4/16/2017,aleppo,0,NaN,NaN,NaN,NaN
3,1914947534,Aleppo bomb blast kills six Syrian state TV,Wed 19 Apr 2017 Aleppo bomb blast kills six Sy...,nna,4/19/2017,aleppo,0,NaN,NaN,NaN,NaN
4,1914947535,29 Syria Rebels Dead in Fighting for Key Alepp...,Sun 10 Jul 2016 29 Syria Rebels Dead in Fighti...,nna,7/10/2016,aleppo,0,NaN,NaN,NaN,NaN

In [59]:
fakes.labels.value_counts()

labels
1    426
0    378
Name: count, dtype: int64

## 28- FANG

In [62]:
fang_real = pd.read_csv('datasets/text datasets/fang/fang_real.csv', index_col= 'id')
fang_fake = pd.read_csv('datasets/text datasets/fang/fang_fake.csv', index_col = 'id')

In [70]:
fang_real.head()

,news_url,title,tweet_ids
id,,,
pheme_144,https://www.reuters.com/article/us-australia-s...,"Hostages held in Sydney cafe, Islamic flag see...",544289893401522177\t544281840358801408\t544289...
E287,https://www.theguardian.com/world/2015/oct/19/...,Man dies on Aer Lingus flight after being rest...,655894442847531008\t655892002114965504\t655892...
E39,https://nypost.com/2015/12/13/sensitive-princi...,School principal bans Santa Thanksgiving and P...,676046658728304640\t676064615726497793\t676067...
pheme_328,https://www.ctvnews.ca/canada/canada-will-neve...,"'Canada will never be intimidated,' Harper say...",524927683248279552\t524933014737137664\t524926...
politifact825,https://web.archive.org/web/20081030004908/htt...,Planned Parenthood® Action Center,541443456892432384\t31808128370606080\t5097310...

In [65]:
print(len(fang_real), len(fang_fake))

606 448

## 29- FANG-Covid

In [71]:
import os
import json
import pandas as pd

# Folder containing your JSON files
folder_path = "datasets/text datasets/fang-covid-main/articles"

# List to store all the data
data = []

# Loop through all files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith(".json"):
        file_path = os.path.join(folder_path, filename)
        with open(file_path, "r", encoding="utf-8") as file:
            try:
                content = json.load(file)
                header = content.get("header", "")
                article = content.get("article", "")
                label = content.get("label", "")
                data.append({"header": header, "article": article, "label": label})
            except json.JSONDecodeError as e:
                print(f"Error reading {filename}: {e}")

# Convert to pandas DataFrame
df = pd.DataFrame(data)

# View the result
print(df.head())

                                              header  \
0  Überwältigende Mehrheit glaubt, dass der Lockd...
1  \n                Wirtschaftskrise mit Corona:...
2                               Die Milliarden-Frage
3                             Ein deutsches Bergamo?
4  Vitamin C: Der entscheidende Nährstoff in der ...

                                             article label
0  Berlin – So ein gehirngewaschenes, völlig verä...  fake
1                  Neue Zahlen für Mai: Die Arbei...  fake
2  Wie soll der Staat der Wirtschaft helfen? Ein ...  real
3  Im sächsischen Erzgebirge steigt die Zahl der ...  real
4  Vitamin C ist für die menschliche Gesundheit l...  fake

In [72]:
len(df)

41242

In [73]:
df.label.value_counts()

label
real    28056
fake    13186
Name: count, dtype: int64

In [2]:
# skipping 30

## 31- FineFake

In [3]:
fine_fake = pd.read_pickle('datasets/text datasets/FineFake.pkl')

In [4]:
fine_fake.head()

,text,image_path,entity_id,topic,fine-grained label,label,knowledge_embedding,description,relation,platform,author,date,comment
0,"CDCs Abortion Surveillance System FAQsNo, stat...",Image/cdc_gov/0.ico,[],Health,0,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",[],[],cdc_gov,None,NaN,NaN
1,"Abortion Surveillance — United States, 2012Abo...",Image/cdc_gov/1.ico,"[Q8452, Q113297224, Q3817591, Q30, Q61, Q759, ...",Health,0,1,"[-0.11652757, -0.08209974, -0.06088451, -0.033...","[[Q8452, description, intentional ending of a ...","[[[Q8452, P910, Q6156380], [Q8452, P1343, Q302...",cdc_gov,"[Karen Pazol, Andreea A. Creanga, Denise J. Ja...",NaN,NaN
2,RabiesRabies is a fatal but preventable viral ...,Image/cdc_gov/6.ico,[Q39222],Entertainment,0,1,"[0.034429, -0.098264, 0.168568, -0.169074, 0.0...","[[Q39222, description, deadly viral disease, t...","[[[Q39222, P910, Q7427599], [Q39222, P780, Q10...",cdc_gov,None,NaN,NaN
3,Other Wild AnimalsTerrestrial Carnivores: Racc...,Image/cdc_gov/12.ico,"[Q121439, Q43604020, Q39222, Q698976, Q1361206...",Entertainment,0,1,"[0.013125, -0.046556402, 0.0849138, -0.0067817...","[[Q121439, description, species of mammal nati...","[[[Q121439, P105, Q7432], [Q121439, P141, Q211...",cdc_gov,None,NaN,NaN
4,Coronavirus Disease 2019 (COVID-19)UPDATE\n\nT...,Image/cdc_gov/13.jpeg,[],Entertainment,0,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...",[],[],cdc_gov,None,NaN,NaN

In [5]:
fine_fake.label.value_counts()

label
0    9407
1    7502
Name: count, dtype: int64

## 32- FNID-FakeNewsNet

In [6]:
fnid = pd.read_csv('datasets/text datasets/FNID-dataset/dataset/fake news detection(FakeNewsNet)/fnn_train.csv')

In [7]:
fnid.head()

,id,date,speaker,statement,sources,paragraph_based_content,fullText_based_content,label_fnn
0,3106,2011-01-25T06:00:00-05:00,Joe Wilkinson,A national organization says Georgia has one o...,['http://www.ajc.com/news/georgia-politics-ele...,['A coalition of government watchdog groups la...,A coalition of government watchdog groups last...,fake
1,5655,2012-04-02T11:42:20-04:00,Rick Scott,"Says Barack Obama's health care law ""will be t...",['http://www.youtube.com/watch?v=TaC0mKApf9Q&f...,['As Supreme Court justices embarked on three ...,As Supreme Court justices embarked on three da...,fake
2,3506,2011-04-01T09:49:05-04:00,J.D. Alexander,Says the Southwest Florida Water Management Di...,['http://www.tampabay.com/news/politics/gubern...,"[""Here's a new one: The Senate budget committe...",Here's a new one: The Senate budget committee ...,fake
3,3450,2011-03-21T12:20:02-04:00,Paul Ryan,"""The Congressional Budget Office has this econ...",['http://www.cnn.com/2011/POLITICS/03/17/gop.b...,"['Recently, House Budget chairman Paul Ryan, R...","Recently, House Budget chairman Paul Ryan, R-W...",real
4,4776,2011-11-13T07:30:00-05:00,Rodney Frelinghuysen,"Says the Treasury Department ""says 41 percent ...",['http://frelinghuysen.house.gov/index.cfm?sec...,['The millionaires’ tax proposal made its late...,The millionaires’ tax proposal made its latest...,fake

In [8]:
fnid.label_fnn.value_counts()

label_fnn
fake    7621
real    7591
Name: count, dtype: int64

## 33- FNID-LIAR

In [9]:
fnid_liar = pd.read_csv('datasets/text datasets/FNID-dataset/dataset/fake news detection(LIAR)/liar_train.csv')

In [10]:
fnid_liar.head()

,id,date,speaker,statement,sources,paragraph_based_content,fullText_based_content,label-liar
0,18178,2020-03-18T13:26:42-04:00,Instagram posts,"""COVID-19 started because we eat animals.""",['https://www.cdc.gov/coronavirus/2019-ncov/ca...,['Vegan Instagram users are pinning the 2019 c...,Vegan Instagram users are pinning the 2019 cor...,barely-true
1,3350,2011-03-04T09:12:59-05:00,Glenn Beck,Says Michelle Obama has 43 people on her staff...,['http://www.glennbeck.com/2011/02/25/while-wo...,['Glenn Beck rekindled a falsehood about the s...,Glenn Beck rekindled a falsehood about the siz...,pants-fire
2,14343,2017-07-21T11:52:44-04:00,Mike Pence,"Says President Donald Trump ""has signed more l...",['https://nrf.com/events/retail-advocates-summ...,['Vice President Mike Pence says that when it ...,Vice President Mike Pence says that when it co...,half-true
3,15579,2018-07-10T15:52:26-04:00,Bloggers,"""US representatives promise implement of UN gu...",['https://conservativedailypost.com/us-represe...,['A conservative website falsely claimed that ...,A conservative website falsely claimed that U....,barely-true
4,3690,2011-05-04T16:31:24-04:00,National Republican Congressional Committee,"""The federal government borrows $4 billion eve...",['http://www.politifact.com/georgia/statements...,['Hundreds of Rhode Islanders got phone calls ...,Hundreds of Rhode Islanders got phone calls la...,mostly-true

In [16]:
fnid_liar['label-liar'].value_counts()

label-liar
false          3280
half-true      2833
mostly-true    2631
barely-true    2483
true           2050
pants-fire     1775
Name: count, dtype: int64

## 34- ISOT

In [17]:
isot_real = pd.read_csv('datasets/text datasets/ISOT/True.csv')
isot_fake = pd.read_csv('datasets/text datasets/ISOT/Fake.csv')

In [18]:
isot_real.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [19]:
isot_real['label'] = 'real'
isot_fake['label'] = 'fake'

In [22]:
isot = pd.concat([isot_real, isot_fake])

In [24]:
print(len(isot_real), len(isot_fake), len(isot))

21417 23481 44898

## 35 - Jruvika-Fake-News-Detection

In [26]:
jru_dataset = pd.read_csv('datasets/text datasets/Jruvika-Fake-News-Detection/data.csv')

In [28]:
jru_dataset.head()

,URLs,Headline,Body,Label
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1

In [29]:
jru_dataset.Label.value_counts()

Label
0    2137
1    1872
Name: count, dtype: int64

## 36- Kaggle-Fake-and-Real-News

In [30]:
k_fake_real_news = pd.read_csv('datasets/text datasets/Kaggle-Fake-and-Real-News/Fake.csv')

In [32]:
k_fake_real_news.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

## 37- Kaggle-Fake-News

In [33]:
kfn = pd.read_csv('datasets/text datasets/Kaggle-Fake-News/train.csv/train.csv')

In [34]:
kfn.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [35]:
kfn.label.value_counts()

label
1    10413
0    10387
Name: count, dtype: int64

## 38- Kaggle-Fake-News-Sample

In [38]:
kfn_sample = pd.read_csv('datasets/text datasets/Kaggle-Fake-News-Sample/resized_v2.csv', index_col = 'Unnamed: 0')

/tmp/ipykernel_393166/3641884761.py:1: DtypeWarning: Columns (1,16) have mixed types. Specify dtype option on import or set low_memory=False.
  kfn_sample = pd.read_csv('datasets/text datasets/Kaggle-Fake-News-Sample/resized_v2.csv', index_col = 'Unnamed: 0')

In [39]:
kfn_sample.head()

,id,domain,type,url,content,scraped_at,inserted_at,updated_at,title,authors,keywords,meta_keywords,meta_description,tags,summary,source
0,21,bipartisanreport.com,clickbait,http://bipartisanreport.com/cdn-cgi/l/email-pr...,The website from which you got to this page is...,2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,Email Protection,NaN,NaN,[''],NaN,NaN,NaN,NaN
1,22,theshovel.com.au,satire,http://www.theshovel.com.au/tag/malcolm-turnbu...,"For as long as he can remember, Malcolm Turnbu...",2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,malcolm turnbull satire – The Shovel,The Shovel,NaN,[''],NaN,"3, 2",NaN,NaN
2,54,blackagendareport.com,unreliable,https://blackagendareport.com/what-western-imp...,What Western Imperialism Is Up to Now in Zimba...,2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,What Western Imperialism Is Up to Now in Zimbabwe,"Bruce A. Dixon, Bar Managing Editor, Glen Ford...",NaN,[''],“The capitalist agenda is to neo-colonize Zimb...,NaN,NaN,NaN
3,61,barenakedislam.com,hate,http://barenakedislam.com/2018/01/08/wow-irani...,We appreciate your help! Click here to donate\...,2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,WOW! Iranian-Canadian protesters love Donald T...,"Cleavis Nowell, Don Spilman, Rick Oneil, Linda...",NaN,[''],NaN,NaN,NaN,NaN
4,64,blackagendareport.com,unreliable,https://blackagendareport.com/articlelist/afri...,“The massacre of the mine workers in August of...,2018-01-25 16:17:44.789555,2018-02-02 01:19:41.756632,2018-02-02 01:19:41.756664,Black Agenda Report,"Ann Garrison, Bar Contributor, Boniface Musavu...",NaN,[''],NaN,NaN,NaN,NaN

In [40]:
kfn_sample.type.value_counts()

type
reliable                      96024
political                     82976
bias                          56914
fake                          44460
conspiracy                    41640
rumor                         24103
unknown                       18343
unreliable                    14828
clickbait                     11572
junksci                        5990
satire                         5732
hate                           3817
2018-02-10 13:43:39.521661        1
Name: count, dtype: int64

## 39- Kaggle-Fake-or-Real-News

In [43]:
kforR = pd.read_csv('datasets/text datasets/Kaggle-Fake-or-Real-News/fake_or_real_news.csv', index_col = 'Unnamed: 0')

In [44]:
kforR.head()

,title,text,label
8476,You Can Smell Hillary’s Fear,"Daniel Greenfield, a Shillman Journalism Fello...",FAKE
10294,Watch The Exact Moment Paul Ryan Committed Pol...,Google Pinterest Digg Linkedin Reddit Stumbleu...,FAKE
3608,Kerry to go to Paris in gesture of sympathy,U.S. Secretary of State John F. Kerry said Mon...,REAL
10142,Bernie supporters on Twitter erupt in anger ag...,"— Kaydee King (@KaydeeKing) November 9, 2016 T...",FAKE
875,The Battle of New York: Why This Primary Matters,It's primary day in New York and front-runners...,REAL

In [45]:
kforR.label.value_counts()

label
REAL    3171
FAKE    3164
Name: count, dtype: int64

## 40- Kaggle-Getting-Real-about-Fake-news

In [46]:
kgetting = pd.read_csv('datasets/text datasets/Kaggle-Getting-Real-about-Fake-news/fake.csv')

In [47]:
kgetting.head()

,uuid,ord_in_thread,author,published,title,text,language,crawled,site_url,country,domain_rank,thread_title,spam_score,main_img_url,replies_count,participants_count,likes,comments,shares,type
0,6a175f46bcd24d39b3e962ad0f29936721db70db,0,Barracuda Brigade,2016-10-26T21:41:00.000+03:00,Muslims BUSTED: They Stole Millions In Gov’t B...,Print They should pay all the back all the mon...,english,2016-10-27T01:49:27.168+03:00,100percentfedup.com,US,25689.0,Muslims BUSTED: They Stole Millions In Gov’t B...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
1,2bdc29d12605ef9cf3f09f9875040a7113be5d5b,0,reasoning with facts,2016-10-29T08:47:11.259+03:00,Re: Why Did Attorney General Loretta Lynch Ple...,Why Did Attorney General Loretta Lynch Plead T...,english,2016-10-29T08:47:11.259+03:00,100percentfedup.com,US,25689.0,Re: Why Did Attorney General Loretta Lynch Ple...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
2,c70e149fdd53de5e61c29281100b9de0ed268bc3,0,Barracuda Brigade,2016-10-31T01:41:49.479+02:00,BREAKING: Weiner Cooperating With FBI On Hilla...,Red State : \nFox News Sunday reported this mo...,english,2016-10-31T01:41:49.479+02:00,100percentfedup.com,US,25689.0,BREAKING: Weiner Cooperating With FBI On Hilla...,0.000,http://bb4sp.com/wp-content/uploads/2016/10/Fu...,0,1,0,0,0,bias
3,7cf7c15731ac2a116dd7f629bd57ea468ed70284,0,Fed Up,2016-11-01T05:22:00.000+02:00,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,Email Kayla Mueller was a prisoner and torture...,english,2016-11-01T15:46:26.304+02:00,100percentfedup.com,US,25689.0,PIN DROP SPEECH BY FATHER OF DAUGHTER Kidnappe...,0.068,http://100percentfedup.com/wp-content/uploads/...,0,0,0,0,0,bias
4,0206b54719c7e241ffe0ad4315b808290dbe6c0f,0,Fed Up,2016-11-01T21:56:00.000+02:00,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,Email HEALTHCARE REFORM TO MAKE AMERICA GREAT ...,english,2016-11-01T23:59:42.266+02:00,100percentfedup.com,US,25689.0,FANTASTIC! TRUMP'S 7 POINT PLAN To Reform Heal...,0.865,http://100percentfedup.com/wp-content/uploads/...,0,0,0,0,0,bias

In [48]:
kgetting.type.value_counts()

type
bs            11492
bias            443
conspiracy      430
hate            246
satire          146
state           121
junksci         102
fake             19
Name: count, dtype: int64

## 41- LIAR

In [54]:
column_names = ["file_name", "label", "title", '1','2','3','4','5','6','7','8','9','10','11']
liar = pd.read_csv('datasets/text datasets/LIAR/train.tsv', sep='\t', header=None, names=column_names)

In [55]:
# Replace with your actual column names
liar.head()

,file_name,label,title,1,2,3,4,5,6,7,8,9,10,11
0,2635.json,false,Says the Annies List political group supports ...,abortion,dwayne-bohac,State representative,Texas,republican,0.0,1.0,0.0,0.0,0.0,a mailer
1,10540.json,half-true,When did the decline of coal start? It started...,"energy,history,job-accomplishments",scott-surovell,State delegate,Virginia,democrat,0.0,0.0,1.0,1.0,0.0,a floor speech.
2,324.json,mostly-true,"Hillary Clinton agrees with John McCain ""by vo...",foreign-policy,barack-obama,President,Illinois,democrat,70.0,71.0,160.0,163.0,9.0,Denver
3,1123.json,false,Health care reform legislation is likely to ma...,health-care,blog-posting,NaN,NaN,none,7.0,19.0,3.0,5.0,44.0,a news release
4,9028.json,half-true,The economic turnaround started at the end of ...,"economy,jobs",charlie-crist,NaN,Florida,democrat,15.0,9.0,20.0,19.0,2.0,an interview on CNN

In [56]:
liar.label.value_counts()

label
half-true      2114
false          1995
mostly-true    1962
true           1676
barely-true    1654
pants-fire      839
Name: count, dtype: int64

## 42- LIAR PLUS

In [65]:
column_names = ["file_name", "label", "title", '1','2','3','4','5','6','7','8','9','10','11','12']
liar_plus = pd.read_csv('datasets/text datasets/LIAR-PLUS/train2.tsv', sep='\t', header=None, names= column_names)

In [67]:
liar_plus.head()

,file_name,label,title,1,2,3,4,5,6,7,8,9,10,11,12
0,2635.json,false,Says the Annies List political group supports ...,abortion,dwayne-bohac,State representative,Texas,republican,0.0,1.0,0.0,0.0,0.0,a mailer,That's a premise that he fails to back up. Ann...
1,10540.json,half-true,When did the decline of coal start? It started...,"energy,history,job-accomplishments",scott-surovell,State delegate,Virginia,democrat,0.0,0.0,1.0,1.0,0.0,a floor speech.,"Surovell said the decline of coal ""started whe..."
2,324.json,mostly-true,"Hillary Clinton agrees with John McCain ""by vo...",foreign-policy,barack-obama,President,Illinois,democrat,70.0,71.0,160.0,163.0,9.0,Denver,Obama said he would have voted against the ame...
3,1123.json,false,Health care reform legislation is likely to ma...,health-care,blog-posting,NaN,NaN,none,7.0,19.0,3.0,5.0,44.0,a news release,The release may have a point that Mikulskis co...
4,9028.json,half-true,The economic turnaround started at the end of ...,"economy,jobs",charlie-crist,NaN,Florida,democrat,15.0,9.0,20.0,19.0,2.0,an interview on CNN,"Crist said that the economic ""turnaround start..."

In [68]:
liar_plus.label.value_counts()

label
half-true      2114
false          1995
mostly-true    1962
true           1676
barely-true    1654
pants-fire      839
Name: count, dtype: int64

## 43- MacIntire

In [69]:
mac = pd.read_csv('datasets/text datasets/MacIntire.csv')

In [70]:
mac.head()

,idd,title,text,label
0,Fq+C96tcx+,‘A target on Roe v. Wade ’: Oklahoma bill maki...,UPDATE: Gov. Fallin vetoed the bill on Friday....,REAL
1,bHUqK!pgmv,Study: women had to drive 4 times farther afte...,Ever since Texas laws closed about half of the...,REAL
2,4Y4Ubf%aTi,"Trump, Clinton clash in dueling DC speeches","Donald Trump and Hillary Clinton, now at the s...",REAL
3,_CoY89SJ@K,Grand jury in Texas indicts activists behind P...,A Houston grand jury investigating criminal al...,REAL
4,+rJHoRQVLe,"As Reproductive Rights Hang In The Balance, De...",WASHINGTON -- Forty-three years after the Supr...,REAL

In [71]:
mac.label.value_counts()

label
REAL    2297
FAKE    2297
Name: count, dtype: int64

In [72]:
# skipping 44

## 45- Misinformation-and-fakenews-and-propaganda

In [81]:
mfp_fake = pd.read_csv('datasets/text datasets/Misinformation-and-fakenews-and-propaganda/DataSet_Misinfo_FAKE.csv/DataSet_Misinfo_FAKE.csv', index_col='Unnamed: 0')
mfp_real = pd.read_csv('datasets/text datasets/Misinformation-and-fakenews-and-propaganda/DataSet_Misinfo_TRUE.csv/DataSet_Misinfo_TRUE.csv', index_col='Unnamed: 0')

In [82]:
mfp_fake['label'] = 'fake'

In [83]:
mfp_real['label'] = 'real'

In [84]:
mfp = pd.concat([mfp_fake, mfp_real])

In [85]:
mfp.head()

                                                text label
0  Donald Trump just couldn t wish all Americans ...  fake
1  House Intelligence Committee Chairman Devin Nu...  fake
2  On Friday, it was revealed that former Milwauk...  fake
3  On Christmas day, Donald Trump announced that ...  fake
4  Pope Francis used his annual Christmas Day mes...  fake

In [86]:
mfp.label.value_counts()

label
fake    43642
real    34975
Name: count, dtype: int64

## 46- NewPolitifact

In [87]:
newpf = pd.read_csv('datasets/text datasets/newpolitifactdataset.csv')

In [88]:
newpf.head()

,Statement,Unnamed: 1,Unnamed: 2,Unnamed: 3,Result
0,A photo shows a large crowd in Berlin protesti...,NaN,NaN,NaN,FALSE
1,“You know what’s in this bill? No medical malp...,NaN,NaN,NaN,barely-true
2,Says Haley Stevens’ plan for “socialized medic...,NaN,NaN,NaN,barely-true
3,“$258^000/month: Amount Blake Griffin will pay...,NaN,NaN,NaN,FALSE
4,The White House doctored a photo of a Donald T...,NaN,NaN,NaN,FALSE

In [89]:
newpf.Result.value_counts()

Result
FALSE          3852
half-true      3152
mostly-true    3003
barely-true    2890
TRUE           2311
pants-fire     2066
full-flip       154
half-flip        67
no-flip          24
Name: count, dtype: int64

In [90]:
# skipping 47, 48, 49

## 50 - Politifact-political-rumor

In [96]:
column_names = ["Claim Text", "Veracity", "Category", "Published Date"]
ppr = pd.read_csv('datasets/text datasets/Politifact-political-rumor.tsv', sep='\t', names=column_names)

In [97]:
ppr.head()

,Claim Text,Veracity,Category,Published Date
0,Claim Text Veracity Category Published Date,NaN,NaN,NaN
1,Tweeted photo inaccurately indicates boy 'cage...,False,2018-06-15,NaN
2,Congressman: deal ensured Iran could hit US wi...,False,2018-05-22,NaN
3,Donald Trump blames Democrats for own immigrat...,False,2018-05-29,NaN
4,This NC Democrat said the NC budget had passed...,False,2018-05-25,NaN

In [98]:
ppr.Veracity.value_counts()

Veracity
False    2847
True     2227
Name: count, dtype: int64

## 51- Random-Political-News

In [101]:
import os
import pandas as pd

def read_text_file(filepath):
    try:
        with open(filepath, 'r', encoding='windows-1252') as file:
            return file.read().strip()
    except Exception as e:
        return f"An error occurred: {e}"

def build_dataset(base_folder):
    data = []

    for label in ['Fake', 'Real']:
        body_folder = os.path.join(base_folder, label)
        title_folder = os.path.join(base_folder, f"{label}_titles")

        for filename in os.listdir(body_folder):
            if filename.endswith('.txt'):
                file_number = filename.replace('.txt', '')
                body_path = os.path.join(body_folder, filename)
                title_path = os.path.join(title_folder, f"{file_number}.txt")

                body = read_text_file(body_path)
                title = read_text_file(title_path)

                data.append({
                    'title': title,
                    'body': body,
                    'label': label
                })

    return pd.DataFrame(data)

# Usage
dataset_folder = 'datasets/text datasets/Random-Political-News/Public Data/Random Poltical News Dataset'  # <- change this
df = build_dataset(dataset_folder)
print(df.head())

                                               title  \
0  What Michael Reagan Said About Trump Today Has...
1  Egyptian paper: Transcript proves Kerry plotte...
2  BREAKING: Washington Post Just Caught Red Hand...
3  “OTTOMANS WERE THE FIRST TO REACH THE MOON,” S...
4  Pro-Cruz Robocall Warns Nevada Voters of Impen...

                                                body label
0  Michael Reagan is the son of former President ...  Fake
1  On Tuesday, the Times of Israel reported that ...  Fake
2  This is really one of those funny, beautiful m...  Fake
3  Istanbul| Ottomans were the first to walk on t...  Fake
4  CARSON CITY, Nv. – A robocall dialed out to hu...  Fake

In [102]:
df.label.value_counts()

label
Fake    75
Real    75
Name: count, dtype: int64

In [103]:
df.head()

,title,body,label
0,What Michael Reagan Said About Trump Today Has...,Michael Reagan is the son of former President ...,Fake
1,Egyptian paper: Transcript proves Kerry plotte...,"On Tuesday, the Times of Israel reported that ...",Fake
2,BREAKING: Washington Post Just Caught Red Hand...,"This is really one of those funny, beautiful m...",Fake
3,"“OTTOMANS WERE THE FIRST TO REACH THE MOON,” S...",Istanbul| Ottomans were the first to walk on t...,Fake
4,Pro-Cruz Robocall Warns Nevada Voters of Impen...,"CARSON CITY, Nv. – A robocall dialed out to hu...",Fake

## 52- ReCOVery

In [106]:
rec = pd.read_csv('datasets/text+image/text+image/ReCOVery/ReCOVery-master/dataset/recovery-news-data.csv', index_col='Unnamed: 0')

In [107]:
rec.head()

,news_id,url,publisher,publish_date,author,title,image,body_text,political_bias,country,reliability
Unnamed: 0,,,,,,,,,,,
0,0,https://www.nytimes.com/article/what-is-corona...,The New York Times,2020-01-21,"['Knvul Sheikh', 'Roni Caryn Rabin']",The Coronavirus: What Scientists Have Learned ...,https://static01.nyt.com/images/2020/03/12/sci...,\nA novel respiratory virus that originated in...,Left,USA,1
1,1,https://www.npr.org/2020/01/22/798392172/chine...,National Public Radio (NPR),2020-01-22,['Emily Feng'],Chinese Health Officials: More Die From Newly ...,https://media.npr.org/include/images/facebook-...,Chinese Health Officials: More Die From Newly ...,Center,USA,1
2,2,https://www.theverge.com/2020/1/23/21078457/co...,The Verge,2020-01-23,['Nicole Wetsman'],Everything you need to know about the coronavirus,https://cdn.vox-cdn.com/thumbor/a9_Oz7cvSBKyal...,Public health experts around the globe are scr...,Left-center,USA,1
3,3,https://www.worldhealth.net/news/novel-coronav...,WorldHealth.Net,2020-01-24,[],Novel Coronavirus Cases Confirmed To Be Spreading,https://www.worldhealth.net/media/original_ima...,The first two coronavirus cases in Europe have...,NaN,USA,0
4,4,https://www.theverge.com/2020/1/24/21080845/co...,The Verge,2020-01-24,"['Nicole Wetsman', 'Zoe Schiffer', 'Jay Peters...",Coronavirus disrupts the world: updates on the...,https://cdn.vox-cdn.com/thumbor/t2gt1SmEni4Mcr...,"A new coronavirus appeared in Wuhan, China, at...",Left-center,USA,1

In [108]:
rec.reliability.value_counts()

reliability
1    1364
0     665
Name: count, dtype: int64

In [109]:
# skipped 53, 54

## 55- RUN-NewsReliability

In [110]:
import json
import pandas as pd

# Load the JSON (replace with file read if needed)
with open('datasets/text datasets/RUN-NewsReliability/training_set.json', 'r', encoding='utf-8') as f:
    raw_data = json.load(f)

# Initialize a list to store records
records = []

# Iterate through each key (like "0", "1", etc.)
for key, value in raw_data.items():

    text = value.get("TEXT", "").strip()
    title = value.get("TITLE", "").strip()
    alba = value.get("VALUE_ALBA", "")

    
    # Combine all into a single dict (flattened)
    record = {
        "title": title,
        "text": text,
        "label": alba
    }
    
    records.append(record)

# Convert to DataFrame
df = pd.DataFrame(records)

# Show the top rows
print(df.head())

                                               title  \
0  Preocupación entre las personas vacunadas con ...
1  La mejor dieta del mundo: Adelgazar comiendo j...
2  Qué curioso lo del Reino Unido: Son los primer...
3  Colombia recibió este sábado nuevo lote de 280...
4  Cataluña citará masivamente a los mayores de 7...

                                                text       label
0  <TEXT>\n\n\n\n<PARAGRAPH>\n\nTenían que empeza...  Unreliable
1  <BREAK>\n\nEsta más que apetecible dieta permi...  Unreliable
2  <BREAK>\n\nMás información sospechosa sobre la...  Unreliable
3  <TEXT>\n\n\n\n<PARAGRAPH>\n\nBogotá, 4 de abri...    Reliable
4  <TEXT>\n\n\n\n<PARAGRAPH>\n\nEn algunas zonas ...    Reliable

In [111]:
df.label.value_counts()

label
Reliable      89
Unreliable    81
Name: count, dtype: int64

## 56- Snopes-Claims

In [115]:
import os
import json
import csv

# Set your folder path here
folder_path = "datasets/text datasets/Snopes-claims/Snopes"

# List to hold extracted data
extracted_data = []

# Loop through all files in the folder
for filename in os.listdir(folder_path):
    if filename.endswith(".json"):
        file_path = os.path.join(folder_path, filename)
        try:
            with open(file_path, 'r', encoding='utf-8') as f:
                data = json.load(f)
                claim = data.get("Claim", "")
                description = data.get("Description", "")
                credibility = data.get("Credibility", "")
                record = {
                    'title' : claim, 
                    'body' : description, 
                    'label' : credibility
                }
                extracted_data.append(record)
        except Exception as e:
            print(f"Failed to process {filename}: {e}")

# Convert to DataFrame
df = pd.DataFrame(extracted_data)

In [116]:
df.head()

,title,body,label
0,"The ""Affordable Golf Club Act"" requires all U....",The Obama administration has passed a new law ...,false
1,The magnitude of the 17 January 1994 Northridg...,It was devastatingly awful. Folks were shocked...,false
2,Photographs show a man decapitated by a wrough...,"Despite assertions to the contrary, it is not ...",true
3,Australian programmers added armed kangaroos t...,"As revealed by Dr. Anne-Marie Grisogono, head ...",true
4,Posting a legal notice on your Facebook wall w...,"First off, the ""problem"" this ineffective solu...",false

In [117]:
df.label.value_counts()

label
false           3344
true            1249
mostly false      92
mostly true       28
Name: count, dtype: int64

## 57- Snopes-rumors

In [120]:
column_names = ["Claim Text", "Veracity", "Category", "Published Date"]
sr = pd.read_csv('datasets/text datasets/Snopes-rumors.tsv', sep='\t', names=column_names)

In [121]:
sr.head()

,Claim Text,Veracity,Category,Published Date
0,Claim Text Veracity Category Published Date,NaN,NaN,NaN
1,"JUULing, or use of a JUUL e-cigarette, has cau...",False,Medical,2018-03-09
2,Tee markers emblazoned with the U.S. president...,True,Politicians,2018-03-08
3,The U.S. has a global trade deficit of $800 bi...,False,Politics,2018-03-09
4,London closed 500 churches and opened 423 new ...,False,Religion,2018-03-08

In [122]:
sr.Veracity.value_counts()

Veracity
False    5758
True     1699
Name: count, dtype: int64

In [123]:
# skipping 58

## 59- Spanish-Political-News

In [125]:
spn = pd.read_csv('datasets/text datasets/spanish-political-fake-news.csv', sep=';')

In [126]:
spn.head()

,ID,Label,Titulo,Descripcion,Fecha
0,ID,1,Moreno intenta apaciguar el flanco sanitario m...,El presidente abre la puerta a unos comicios e...,19/04/2022
1,ID,1,La Abogacía del Estado se retira como acusació...,"En un escrito, la abogada del Estado Rosa Marí...",17/09/2021
2,ID,0,Las promesas incumplidas de Pablo Echenique en...,Este lunes y martes la Asamblea de Madrid acog...,12/09/2022
3,ID,1,Sánchez defiende 'resolver el problema' de la ...,Resulta evidente que la ley ha tenido algunos ...,07/02/2023
4,ID,1,Ian Gibson cierra la lista electoral de la con...,"El hispanista, que ya ocupó un puesto simbólic...",12/04/2023

In [127]:
spn.Label.value_counts()

Label
1    33351
0    23880
Name: count, dtype: int64

## 60- True-and-Fake-News

In [10]:
column_names = ["label", "text"]
true_fake_election = pd.read_csv('datasets/text datasets/True-and-Fake-News/DTN_data/2016_election/cnews.train.txt', sep='#', header=None, names=column_names)
true_fake_brexit = pd.read_csv('datasets/text datasets/True-and-Fake-News/DTN_data/brexit/cnews.train.txt', sep="#", header=None, names=column_names)

In [11]:
true_fake_election.head()

  label                                               text
0  fake                              They\tpay\tinterest\t
1  fake                  Chapman Square\tis in\tPortland\t
2  fake  State base\tis at\tIslamic\tBlacklisted News I...
3  fake            Tom Luongo\tBy\tOpen Market Committee\t
4  fake  one million illegal alien Muslim colonizers\ti...

In [13]:
true_fake_election = true_fake_election.map(lambda x: x.replace('\t', ' ') if isinstance(x, str) else x)

In [14]:
true_fake_election.head()

  label                                               text
0  fake                                 They pay interest
1  fake                     Chapman Square is in Portland
2  fake  State base is at Islamic Blacklisted News Iraq...
3  fake               Tom Luongo By Open Market Committee
4  fake  one million illegal alien Muslim colonizers is...

In [15]:
true_fake_election.label.value_counts()

label
fake    750
true    750
Name: count, dtype: int64

In [16]:
true_fake_brexit = true_fake_brexit.map(lambda x: x.replace('\t', ' ') if isinstance(x, str) else x)
true_fake_brexit.head()

  label                                               text
0  fake  Bill received assent from Queen blow is devast...
1  fake  Donald Trump just become America Donald Trump ...
2  fake  Jean-Claude Juncker has stated pushing Europea...
3  fake  EU form new alliance alliance is new EU is Maj...
4  fake  it cut interest rates to new historic low it c...

In [17]:
true_fake_brexit.label.value_counts()

label
fake    1000
true    1000
Name: count, dtype: int64

## 61- Truth-seeker-2024

In [20]:
truth_seeker = pd.read_csv('datasets/text datasets/TruthSeeker2024/TruthSeeker2023/Truth_Seeker_Model_Dataset.csv', index_col='Unnamed: 0')

In [21]:
truth_seeker.head()

,author,statement,target,BinaryNumTarget,manual_keywords,tweet,5_label_majority_answer,3_label_majority_answer
0,D.L. Davis,End of eviction moratorium means millions of A...,True,1.0,"Americans, eviction moratorium",@POTUS Biden Blunders - 6 Month Update\n\nInfl...,Mostly Agree,Agree
1,D.L. Davis,End of eviction moratorium means millions of A...,True,1.0,"Americans, eviction moratorium",@S0SickRick @Stairmaster_ @6d6f636869 Not as m...,NO MAJORITY,Agree
2,D.L. Davis,End of eviction moratorium means millions of A...,True,1.0,"Americans, eviction moratorium",THE SUPREME COURT is siding with super rich pr...,Agree,Agree
3,D.L. Davis,End of eviction moratorium means millions of A...,True,1.0,"Americans, eviction moratorium",@POTUS Biden Blunders\n\nBroken campaign promi...,Mostly Agree,Agree
4,D.L. Davis,End of eviction moratorium means millions of A...,True,1.0,"Americans, eviction moratorium",@OhComfy I agree. The confluence of events rig...,Agree,Agree

In [25]:
truth_seeker.target.value_counts()

target
True     68930
False    65268
Name: count, dtype: int64

In [23]:
# skipped 62

## 63 - UFN-Urdu-Fake-News

In [2]:
import os
import pandas as pd

# Set the parent directory containing folders '0' and '1'
parent_dir = 'datasets/text datasets/UFN-Urdu-Fake-News/UFN-Urdu-Fake-News/Urdu-Fake-News-master/UFN/UFN'  # <- Replace this with your actual path

data = []

# Loop through folders labeled '0' and '1'
for label in ['0', '1']:
    folder_path = os.path.join(parent_dir, label)
    
    for filename in os.listdir(folder_path):
        file_path = os.path.join(folder_path, filename)
        
        # Read only text files
        if os.path.isfile(file_path) and filename.endswith('.txt'):
            with open(file_path, 'r', encoding='utf-8') as file:
                text = file.read().replace('\t', ' ')  # Optional: remove tabs
                data.append({'text': text, 'label': int(label)})

# Create DataFrame
df = pd.DataFrame(data)

                                                text  label
0  ہلیری عالمی جنگ III کیوں نہیں اٹھیں گی - پیپے ...      0
1  بلی آف اندام نہانی (گندی عورت) کے ذریعہ سیاہ ف...      0
2  این بی اے ٹیم نے ترانہ گلوکارہ کو عدالت میں مت...      0
3  31 اکتوبر ، 2016 کے ہفتے کے لئے بلیک ایجنڈا کی...      0
4  ٹرمپ ٹاور نے گھیرے میں ڈمپ ٹرک پر تشدد کی پیش ...      0

In [3]:
df.head()

                                                text  label
0  ہلیری عالمی جنگ III کیوں نہیں اٹھیں گی - پیپے ...      0
1  بلی آف اندام نہانی (گندی عورت) کے ذریعہ سیاہ ف...      0
2  این بی اے ٹیم نے ترانہ گلوکارہ کو عدالت میں مت...      0
3  31 اکتوبر ، 2016 کے ہفتے کے لئے بلیک ایجنڈا کی...      0
4  ٹرمپ ٹاور نے گھیرے میں ڈمپ ٹرک پر تشدد کی پیش ...      0

In [4]:
df.label.value_counts()

label
0    1032
1     968
Name: count, dtype: int64

In [5]:
# skipping 64, 65

## 66. WELFake

In [8]:
wel_fake = pd.read_csv('datasets/text datasets/WELFake/WELFake_Dataset.csv', index_col='Unnamed: 0')

In [9]:
wel_fake.head()

,title,text,label
0,LAW ENFORCEMENT ON HIGH ALERT Following Threat...,No comment is expected from Barack Obama Membe...,1
1,NaN,Did they post their votes for Hillary already?,1
2,UNBELIEVABLE! OBAMA’S ATTORNEY GENERAL SAYS MO...,"Now, most of the demonstrators gathered last ...",1
3,"Bobby Jindal, raised Hindu, uses story of Chri...",A dozen politically active pastors came here f...,0
4,SATAN 2: Russia unvelis an image of its terrif...,"The RS-28 Sarmat missile, dubbed Satan 2, will...",1

In [10]:
wel_fake.label.value_counts()

label
1    37106
0    35028
Name: count, dtype: int64